.video-app{
	margin-bottom: 50px;
	
	.searchForm {
		padding: 20px;
		margin: 0 auto;
		max-width: 600px; 

		.row {
			margin-bottom: 25px;
			position: relative;
			overflow: hidden;
		}

		input{
			width: 100%;
			height: 40px;
			padding: 10px 10px 10px 90px;
			box-sizing: border-box;
			border: none;
			color: #333;
			border-radius: 3px;
			transition: all 0.3s $custom-easing;

			& + label{
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    height: 40px;
			    line-height: 40px;
			    font-size: 12px;
			    font-weight: bold;
			    width: 80px;
			    text-shadow: 0 0 2px rgba(0,0,0,0.1);
			    text-align: center;
			    text-transform: uppercase;
			    letter-spacing: .05em;
			    color: white;
			    background: $custom-gray;
			    border-radius: 3px 0 0 3px;
			    transition: all 0.3s $custom-easing;
			    transform: translateZ(0) translateX(0);
			}

			&:focus{
			    padding-left: 10px; 
			}
			  

			&:focus + label{
			    transform: translateZ(0) translateX(-100%);
			}
		}
	}

	.videosList-wrapper{
		min-height: 350px;
		margin-bottom: 30px;
		border-right: 1px solid #fff;

		@include tablet{
			border: none;
		}

		.videosList{
			padding: 0;

			@include tablet{
				max-width: 320px;
				margin: 0 auto;
			}

			li{
				margin: 15px 0;

				&:hover{
					cursor: pointer;
					opacity: .7;
				}

				div:first-child{
					padding: 0;
				}

				.col-sm-8{
					@include tablet{
						padding: 0;
					}
				}
			}

			img{
				// max-width: 230px;
				@include tablet{
					margin-bottom: 5px;
				}
			}
		}

		.btn{
			background-color: $darker-red;
			outline: none;
			
			&:hover, 
			&:focus{
				color: #fff;
			}

			&:hover{
				opacity: .7;
			}
		}
	}
}